.star-rating {
  position: relative;
  font-size: 36px;
  display: inline-block;
  white-space: nowrap;
  z-index: 0;
}
.star-rating::before, .star-rating::after {
  content: "★★★★★";
  color: #e1e1e1;
  top: 0;
  left: 0;
}
.star-rating::after {
  color: #ffb448;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.star-rating[data-rate="0"]::after {
  width: 0px;
}

.star-rating[data-rate="0.5"]::after {
  width: 18px;
}

.star-rating[data-rate="1"]::after {
  width: 36px;
}

.star-rating[data-rate="1.5"]::after {
  width: 54px;
}

.star-rating[data-rate="2"]::after {
  width: 72px;
}

.star-rating[data-rate="2.5"]::after {
  width: 90px;
}

.star-rating[data-rate="3"]::after {
  width: 108px;
}

.star-rating[data-rate="3.5"]::after {
  width: 126px;
}

.star-rating[data-rate="4"]::after {
  width: 144px;
}

.star-rating[data-rate="4.5"]::after {
  width: 162px;
}

.star-rating[data-rate="5"]::after {
  width: 180px;
}